@import "libs/reset";

body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color: white;
}


// all content align
.post-list {
  display: grid;
  grid-template-columns: repeat(3, minmax(100px, 293px));
  justify-content: center;
  grid-gap: 1em;


  .post {
    cursor: pointer;
    position: relative;

    .post-image {
      img {
        width: 100%;
        vertical-align: top;
      }
    }

    .post-overlay {
      background-color: rgba(#000, 0.7);
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      top: 0;
      display: none;
      align-items: center;
      justify-content: center;
      color: white;
      text-align: center;

      .post-likes {
        &:after {
          content: '♥︎';
          margin-left: 5px; 
          color: salmon;
        }
      }

      .post-comments {
        width: 80px;
        margin: 5px;
        font-weight: bold;
        text-align: center;
        display: inline-block;
      }

    }
    &:hover {
      .post-overlay {
        display: flex;
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .post-list {
    grid-gap: 4px;
  }
}